@use "../helpers/function" as *;
@use "../helpers/helpers" as *;
@use "../helpers/mixin" as *;
@use "../helpers/variables" as *;

.bl_concept {
  background-color: $cCeruleanBlue;
  position: relative;

  &_ttl {
    margin-bottom: 29px;

    @include mq() {
      margin-bottom: initial;
    }
  }
}

.bl_sideBySide_wrapper {
  padding-left: 13%;

  @include mq() {
    padding: 0 5%;
    max-width: 444px;
    margin: 0 auto;
  }
}

.bl_concept_wave2 {
  margin-top: -23%;
}

.bl_sideBySide {
  position: relative;
  margin-bottom: 70px;

  @include mq() {
    margin-bottom: 420px;
  }

  &_ttl {
    position: relative;
    z-index: 5;

    @include mq() {
      margin-bottom: 11px;
    }
  }

  &_ttl_sp_2 {
    @include mq() {
      margin-top: -40px;
      margin-left: 83px;
    }
  }

  &_txtBox {
    @include mq() {
      font-size: 14px;
    }
  }

  &_txt {
    font-family: "Yu Gothic", "YuGothic", "Hiragino Kaku Gothic Pro", "Meiryo",
      sans-serif;
    font-weight: 700;
    line-height: 1.88;
    color: $cWhite;
  }

  &_bottomTxt {
    margin-top: 32px;
  }

  &_imgBox {
    position: absolute;
    z-index: 3;
    top: 60px;
    right: 0;
    width: clamp(23.438rem, -8.501rem + 66.54vw, 44.938rem);

    @include mq() {
      top: 385px;
      width: 460px;
      right: 0;
    }

    @include mq("adj") {
      top: 410px;
      margin-right: -50px;
    }
    & img {
      height: auto;
    }
  }
}

.bl_app {
  background-color: $cPaleYellow;
  margin-top: -100px;

  &_wrapper {
    max-width: 1138px;
    padding: 0 15px;
    margin: -70px auto 0;

    @include mq() {
      margin-top: 0;
      width: 100%;
    }
  }

  &_ttl {
    position: relative;
    z-index: 3;
  }
}

.bl_app2 {
  &_wrapper {
    max-width: 1112px;
    padding: 0 15px;
    margin: -150px auto;
  }
}

.bl_app_ttl {
  &_sp {
    margin-left: -76px;

    &_2 {
      margin-top: -50px;
      margin-right: -48px;
    }
  }
}

.bl_shapeWrapper {
  position: relative;

  &_item {
    position: absolute;
    right: 153px;
    bottom: -85px;

    @include mq() {
      right: 34px;
      bottom: -145px;
    }

    &_2 {
      right: -70px;
      bottom: -216px;
      z-index: 2;
    }
  }
}

.bl_featureBlock_ttl {
  position: relative;
  z-index: 5;
  margin-bottom: 75px;

  &_app1 {
    margin-left: clamp(-11.563rem, -28.739rem + 35.78vw, 0rem);

    @include mq() {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: clamp(-7.5rem, -14.656rem + 30.53vw, 0rem);
      margin-bottom: 47px;
      margin-left: initial;
    }
  }

  &_app2 {
    margin-top: -50px;
    margin-left: 170px;

    @include mq() {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: -70px;
      margin-left: initial;

      @include mq("sp") {
        margin-top: -111px;
      }

      @include mq("adj") {
        margin-top: -140px;
      }
    }
  }

  &_app3 {
    margin-left: clamp(-17rem, -34.826rem + 37.14vw, -5rem);
    margin-top: -50px
  }
}

.bl_featureBlock {
  position: relative;
  display: flex;
  justify-content: center;
  //   // column-gap: 230px;
  column-gap: 5%;

  @include mq() {
    flex-direction: column;
    align-items: center;
    margin-top: clamp(-6.25rem, -12.214rem + 25.45vw, 0rem);
  }

  &_reverse {
    flex-direction: row-reverse;
    justify-content: center;

    @include mq() {
      flex-direction: column;
    }
  }

  //   &_4 {
  //     @include mq() {
  //       padding-bottom: 171px;
  //     }
  //   }

  &_num {
    position: absolute;
    bottom: 121px;
    left: 0;
    z-index: 3;
    font-family: "Work Sans", sans-serif;
    font-size: 199px;
    font-weight: 500;
    color: $cCeruleanBlue;

    @include mq() {
      font-size: 120px;
      top: 260px;
      left: 6%;
    }

    @include mq("sp") {
      //   top: 18%;
      //   left: 18%;
    }

    @include mq("adj") {
      // top: 10%;
      left: 0;
    }

    &_2 {
      top: 0;
      color: $cSkyBlue;

      @include mq() {
        left: 8%;
      }

      @include mq("sp") {
        left: 5%;
        top: -11%;
      }
    }

    &_3 {
      // bottom: 10%;
    //   bottom: clamp(0rem, -9.824rem + 16.9vw, 3.75rem);
      color: $cLightBlue;
      top: 60%;
      left: 45%;

      @include mq() {
        top: -3%;
        bottom: initial;
        left: 80%;
      }
    }

    &_4 {
      top: -80px;
      left: 5%;
      color: $cLightBlue;
    }
  }

  &_imgWrapper {
    width: 30%;
    position: relative;
    z-index: 2;
    margin-left: 73px;

    & img {
      object-fit: contain;
    }

    @include mq() {
      width: clamp(10.875rem, 5.448rem + 23.16vw, 16.563rem);
      // width: 100%;
      margin-left: initial;
      text-align: center;
    }

    &_reverse {
      margin-left: initial;
    }

    //     &_MR {
    //       margin-right: 9%;

    //       @include mq() {
    //         margin-right: initial;
    //       }
    //     }
    //   }

    //   &_imgWrapperIllust {
    //     position: absolute;
    //     left: -35px;
    //     top: clamp(11.875rem, -7.622rem + 40.62vw, 25rem);
    //     // bottom: 20px;
    //     // bottom: clamp(14.375rem, 33.872rem + -40.62vw, 1.25rem);

    //     @include mq() {
    //       width: 31px;
    //       height: 78px;
    //       left: -10px;
    //       top: clamp(17.813rem, 9.678rem + 35.18vw, 26.563rem);
    //     }
  }

  &_spShape {
    position: absolute;
    top: 80px;
    left: -70px;
    z-index: -1;

    @include mq() {
      top: 139px;
      left: -40px;
    }

    &_2 {
        position: absolute;
      top: initial;
      bottom: 110px;
      left: 121px;
      z-index: -1;

      @include mq("sp") {
        bottom: 174px;
        left: 50px;
      }
    }
  }

  &_body {
    width: 65%;
    padding-top: 60px;

    @include mq() {
      width: 100%;
      padding-top: initial;
    }
  }

  //   &_shape {
  //     position: absolute;
  //     top: 20%;
  //     left: -35%;
  //     z-index: -1;

  //     @include mq() {
  //       left: -20%;
  //     }
  //   }

  //   &_shape_2 {
  //     position: absolute;
  //     bottom: 105px;
  //     right: -120px;
  //     z-index: -1;

  //     @include mq() {
  //       right: -70px;
  //     }
  //   }

  &_shape_3 {
    position: absolute;
    top: 10%;
    right: -20%;
    z-index: -2;

    @include mq() {
      top: 28%;
      right: -40%;
    }
  }

  &_shape_4 {
    position: absolute;
    bottom: 14%;
    left: -24%;
    z-index: -1;

    @include mq() {
      bottom: 24%;
      left: -43%;
    }
  }

  &_shape_5 {
    position: absolute;
    top: 12%;
    right: -18%;
    z-index: -1;

    @include mq() {
      top: 28%;
      right: -42%;
    }
  }

  //   &_ttl {
  //     position: absolute;
  //     top: 0;
  //     right: 0;
  //     z-index: 3;
  //     width: 710px;

  //     @include mq() {
  //       left: 41%;
  //       transform: translateX(-39%);
  //       top: 420px;
  //     }

  //     @include mq("adj") {
  //       top: 413px;
  //       left: 48%;
  //     }

  //     &_2 {
  //       left: 120px;
  //       transform: rotate(15deg);

  //       @include mq() {
  //         transform: rotate(5deg);
  //         top: 471px;
  //         left: 15%;
  //       }

  //       @include mq("adj") {
  //         left: 10%;
  //       }
  //     }

  //     &_3 {
  //       width: clamp(38.75rem, 30.394rem + 17.41vw, 44.375rem);
  //       // top: 430px;

  //       @include mq("sp") {
  //         left: 50%;
  //       }
  //     }

  //     &_4 {
  //       // right: 200px;
  //       right: clamp(0rem, -18.569rem + 38.68vw, 12.5rem);

  //       @include mq() {
  //         top: 460px;
  //         left: 63%;
  //       }

  //       @include mq("sp") {
  //         top: 420px;
  //         left: 70%;
  //       }

  //       @include mq("adj") {
  //         top: 385px;
  //         left: 84%;
  //       }
  //     }

  //     & text {
  //       font-size: rem(20);
  //     }

  //     & text {
  //       fill: $cCeruleanBlue;
  //     }
  //   }

  //   &_ttl_2 {
  //     & svg {
  //       width: 610px;
  //     }

  //     & textpath {
  //       fill: $cCeruleanBlue;
  //       font-size: rem(30);

  //       @include mq("sp") {
  //         font-size: rem(22);
  //       }
  //     }
  //   }

  //   &_ttl_3 {
  //     & svg {
  //       z-index: 10;
  //       // width: 1000px;
  //       width: clamp(48rem, 26.46rem + 44.87vw, 62.5rem);
  //     }

  //     & textpath {
  //       fill: $cCream;
  //       font-size: rem(21);

  //       @include mq() {
  //         font-size: rem(12);
  //       }

  //       @include mq("sp") {
  //         font-size: rem(10);
  //       }
  //     }
  //   }

  //   &_body {
  //     padding-top: 200px;
  //     position: relative;

  //     @include mq() {
  //       padding-top: 323px;
  //     }

  //     &_2 {
  //       margin-left: -50px;
  //       padding-left: 15px;

  //       @include mq() {
  //         margin-left: initial;
  //       }
  //     }

  //     &_3 {
  //       padding-left: 15px;
  //     }

  //     &_4 {
  //       padding-top: 250px;

  //       @include mq() {
  //         padding-top: 200px;
  //       }
  //     }
  //   }

  //   &_imgWrapper {
  //     & img {
  //       height: auto;
  //     }
  //   }

  &_txt {
    font-family: "Yu Gothic", "YuGothic", "Hiragino Kaku Gothic Pro", "Meiryo",
      sans-serif;
    font-weight: 700;
    line-height: 2.2;
    color: $cGray;
    margin-left: clamp(1.75rem, -10.134rem + 24.76vw, 9.75rem);
    position: relative;
    z-index: 10;

    @include mq() {
      margin-left: initial;
      width: 80%;
      margin: 0 auto;
    }

    @include mq("sp") {
      width: 100%;
    }

    &_reverse {
      margin-left: 70px;

      @include mq() {
        margin-left: initial;
        width: 80%;
        margin: -12% auto 0;
      }

      @include mq("sp") {
          width: 95%;
      }

      @include mq("adj") {
          margin-top: -22%;
      }
    }
  }

  @include mq("adj") {
    font-size: rem(14);
  }

  &_4 {
    @include mq {
      padding-left: 15px;
    }
  }

  & li {
    text-indent: -1em;
    padding-left: 1em;
    letter-spacing: 0.8px;

    @include mq("sp") {
      letter-spacing: 0.2px;
    }
  }

  &_illust {
    position: absolute;
    bottom: 0;
    left: 370px;
    z-index: 3;

    @include mq() {
      width: 66px;
      top: 353px;
      bottom: initial;
      left: initial;
      right: -3px;
    }

    & img {
      height: auto;
    }

    &_2 {
      bottom: 8%;
      left: -13%;

      @include mq() {
        bottom: 23%;
        left: -38px;
      }
    }

    &_3 {
      left: -205px;

      @include mq() {
        right: 15%;
        left: initial;
        width: 38px;
        height: 75px;
      }
    }

    &_4 {
      right: -190px;
      bottom: 50px;
      left: initial;

      @include mq() {
        right: initial;
        top: -123px;
        left: 12%;
        width: 31px;
        height: 84px;
      }
    }
  }
}

.bl_app {
  position: relative;
  margin-top: -25px;

  //   // backgro
  //   @include mq() {
  //     padding-left: 13%;
  //   }

  //   @include mq("sp") {
  //     padding-left: 5%;
  //   }

  & .bl_app_wave {
    margin-top: -30px;

    @include mq() {
      margin-top: 90px;
    }
  }

  & .bl_app_wave2 {
    margin-top: -38%;
    // margin-bottom: 300px;

    @include mq() {
      // margin-top: -116px;
    }
  }

  //

  //   & .bl_app_bottomWave {
  //     min-width: 2000px;
  //     position: absolute;
  //     z-index: 0;
  //     transform: scale(1) rotate(4deg) translate(-230px, -400px);

  //     @include mq() {
  //       top: 80%;
  //       transform: scale(1) rotate(4deg) translate(-863px, -400px);
  //     }
  //   }
  // }

  // .bl_app_ttl_sp {
  //   @include mq("sp") {
  //     padding-left: 86px;
  //   }
  // }

  // .bl_app_ttl_sp_2 {
  //   @include mq("sp") {
  //     padding-left: 23px;
  //   }

  //   @include mq("adj") {
  //     position: absolute;
  //     top: 85px;
  //   }
}

.bl_app2 {
  position: relative;
  //   background-color: $cWhite;

  &_ttl_1 {
    @include mq() {
      margin-left: -188px;
    }
  }

  &_ttl_2 {
    @include mq() {
      margin-top: -110px;
      margin-left: 42px;
    }
  }

  & .bl_app2_wave {
    margin-top: 55px;

    @include mq() {
        margin-top: 22%;
    }

    @include mq("sp") {
        margin-top: 34%;
    }

    @include mq("adj") {
        margin-top: 75%;
    }
  }

  &_shape1 {
    position: absolute;
    bottom: 11%;
    left: -3%;
    z-index: 1;

    @include mq() {
        bottom: 4%;
    }

    @include mq("sp") {
        bottom: 1%;
    }
  }

  &_shape2 {
    position: absolute;
    bottom: 23%;
    left: 10%;
    z-index: 1;

    @include mq() {
        bottom: 8%;
    }
  }

  &_shape3 {
    position: absolute;
    right: 3%;
    bottom: 33%;
    z-index: 1;
  }
}
// // .bl_app2_title_z-15 {
// //   transform: translateZ(-15px);
// // }

// .bl_app2_title_PChange {
//   position: absolute;
//   left: 10%;
//   top: 30%;

//   @include mq("sp") {
//     left: 0;
//   }
// }

.bl_app3 {
  position: relative;
  background-color: $cCeruleanBlue;
  margin-top: -50px;

  &_wrapper {
    max-width: 1168px;
    margin: 0 auto;
  }

  & .bl_app3_wave {
    margin-top: -198px;
  }

  &_shape1 {
    position: relative;
    margin-left: -50px;
  }

  &_shape2 {
    position: absolute;
    right: 240px;
    bottom: 34%;
    z-index: 2;
}

  &_shape3 {
    position: absolute;
    right: 80px;
    bottom: 33%;
    z-index: 1;
  }

  &_shape4 {
    position: absolute;
    bottom: 43%;
    left: 7%;
    z-index: 1;
  }

  &_shape5 {
    position: absolute;
    right: -70px;
    bottom: 36%;
  }
}


// .bl_app3_title_sp {
//   transform: rotateZ(15deg);

//   @include mq("sp") {
//     position: absolute;
//     left: 5%;
//     letter-spacing: 2px;
//   }

//   @include mq("adj") {
//     left: 11%;
//   }
// }

// .bl_app3_title_sp_2 {
//   transform: rotateZ(-28deg);
//   position: absolute;
//   top: -10%;
//   left: 20%;

//   @include mq() {
//     // top: 45%;
//   }

//   @include mq("sp") {
//     transform: rotateZ(-28deg) translateX(50px) translateY(-70px);
//     letter-spacing: 2px;
//   }

//   @include mq("adj") {
//     left: 12%;
//   }
// }

// .bl_app4 {
//   position: relative;
//   background-color: $cPaleYellow;

//   & .bl_app4_wave {
//     position: absolute;
//     top: -700px;
//     min-width: 2000px;
//     transform: scale(0.8) rotate(-4deg) translate(-300px, 0);
//   }

//   &_shape1 {
//     position: absolute;
//     top: -210px;
//     left: -66px;
//     z-index: 1;
//   }

//   &_shape2 {
//     position: absolute;
//     top: -190px;
//     right: 20%;
//     z-index: 1;
//   }

//   &_shape3 {
//     position: absolute;
//     top: -315px;
//     right: 7%;
//     z-index: 1;
//   }

//   &_shape4 {
//     position: absolute;
//     top: -450px;
//     right: -130px;
//     z-index: 1;
//   }

//   &_shape5 {
//     position: absolute;
//     top: 50%;
//     right: -20px;
//   }
// }

// .bl_videoSection {
//   position: relative;
//   // background-color: $cWhite;
//   background-color: rgb(250, 251, 253);
//   min-height: 925px;

//   @include mq() {
//     min-height: 510px;
//   }

//   @include mq("sp") {
//     min-height: 400px;
//   }

//   @include mq("adj") {
//     min-height: 300px;
//   }

//   & .bl_videoSection_wave1 {
//     min-width: 2000px;
//     position: absolute;
//     top: -625px;
//     z-index: 0;
//     transform: scale(1) rotate(10deg) translate(-230px, 0px);

//     @include mq() {
//       top: -789px;
//     }
//   }

//   & .bl_videoSection_wave2 {
//     min-width: 2000px;
//     position: absolute;
//     top: -652px;
//     z-index: 0;
//     transform: scale(1) rotate(6deg) translate(-130px, 0px);

//     @include mq() {
//       top: -822px;
//     }
//   }

//   &_illust {
//     position: absolute;
//     bottom: 200px;
//     left: 6.5%;
//     z-index: 501;

//     @include mq() {
//       display: none;
//     }
//   }
// }

// .bl_videoBlock {
//   padding: 0 15px;
//   max-width: 947px;
//   margin: 0 auto;
//   position: relative;
//   z-index: 500;

//   @include mq() {
//     transform: translateY(-270px);
//   }

//   &_inner {
//     position: relative;
//     // max-width: 881px;
//     // max-height: 947px;
//     // width: 957px;
//     // padding-top: 113px;
//     padding-top: 60px;
//     padding-right: 33px;
//     padding-bottom: 58px;
//     padding-left: 33px;
//     margin: 0 auto;
//     background-color: $cCeruleanBlue;
//     border-radius: 17px;
//     box-shadow: 0px 20px 20px 0px #0000000d;

//     @include mq() {
//       padding-top: 41px;
//       padding-right: 20px;
//       padding-bottom: 38px;
//       padding-left: 20px;

//       @include mq("sp") {
//         padding-top: 25px;
//         padding-right: 11px;
//         padding-bottom: 25px;
//         padding-left: 11px;
//         border-radius: 6px;
//       }
//     }

//     & video {
//       max-width: 100%;
//       height: 100%;
//       object-fit: cover;
//     }
//   }

//   &_title {
//     position: absolute;
//     top: -31px;
//     left: 50%;
//     transform: translateX(-50%);
//     width: 167px;

//     @include mq() {
//       top: -20px;
//       width: 92px;
//     }

//     @include mq("sp") {
//       top: -11px;
//       width: 44px;
//     }

//     &_modal {
//       top: -13px;
//     }
//   }

//   &_link {
//     display: block;
//     position: relative;
//     z-index: 2;
//     aspect-ratio: 16 / 9;

//     & img {
//       object-fit: cover;
//     }
//   }

//   &_startBtn {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     cursor: pointer;

//     @include mq("sp") {
//       width: 28.5px;
//       height: 28.5px;
//     }
//   }
// }

// .bl_about {
//   position: relative;
//   background-color: #d2e6ff;
//   z-index: 1;
//   padding: 0 20px 150px;

//   & .bl_about_wave1 {
//     min-width: 2000px;
//     position: absolute;
//     top: -556px;
//     z-index: -1;
//     transform: scale(1) rotate(5deg) translate(-130px, 0px);
//   }

//   & .bl_about_wave2 {
//     min-width: 2000px;
//     position: absolute;
//     top: -596px;
//     z-index: -1;
//     transform: scale(1) rotate(2deg) translate(-230px, 0px);
//   }

//   & .bl_about_wave3 {
//     min-width: 2000px;
//     position: absolute;
//     top: -593px;
//     z-index: -1;
//     transform: scale(0.8) rotate(-1deg) translate(-276px, 0px);
//   }

//   &_title {
//     margin-bottom: 45px;
//   }

//   &_bc {
//     position: absolute;
//     top: 20%;
//     background-color: #d2e6ff;
//     z-index: -1;
//     width: 100%;
//     height: 500px;
//   }

//   &_tableArea {
//     max-width: 946px;
//     padding: 112px 69px;
//     margin: 0 auto;
//     background-color: $cWhite;
//     border-radius: 17px;
//     box-shadow: 0px 20px 20px 0px #0000000d;

//     @include mq("sp") {
//       padding: 69px 18px 49px;
//     }
//   }
// }

// .bl_horizTable {
//   & table {
//     width: 100%;
//     padding: 112px 69px;
//   }

//   & tr {
//     font-family: "Yu Gothic", "YuGothic", "Hiragino Kaku Gothic Pro", "Meiryo",
//       sans-serif;
//     font-weight: 700;
//     line-height: 2.2;

//     @include mq("sp") {
//       font-size: rem(13);
//     }
//   }

//   & th {
//     width: 20%;
//     position: relative;
//     padding: 20px 20px 20px 0;
//     color: $cCeruleanBlue;
//     vertical-align: middle;

//     @include mq("sp") {
//       padding-right: 10px;
//     }

//     &::before {
//       content: "";
//       display: inline-block;
//       position: absolute;
//       top: 0;
//       height: 1px;
//       width: 80%;
//       background-color: $cGray;
//     }
//   }

//   & td {
//     padding: 20px;
//     position: relative;

//     @include mq("sp") {
//       padding: 10px;
//     }

//     &::before {
//       content: "";
//       display: inline-block;
//       position: absolute;
//       top: 0;
//       height: 1px;
//       width: 95%;
//       background-color: $cLightBlue;
//     }
//   }
// }

// .bl_horizTable_borderBottom {
//   position: relative;

//   &::after {
//     content: "";
//     display: inline-block;
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     width: 80%;
//     height: 1px;
//     background-color: $cGray;
//   }
// }

// .bl_horizTable_borderBottom_LightBlue-BordeBottom {
//   &::after {
//     background-color: $cLightBlue;
//     width: 95%;
//     left: initial;
//   }
// }

// .bl_footer {
//   position: relative;
//   background-color: $cCeruleanBlue;
//   z-index: 1;

//   & .bl_footer_wave {
//     min-width: 2000px;
//     position: absolute;
//     top: -199px;
//     z-index: -1;
//     transform: scale(1) rotate(3deg) translate(-130px, 0px);
//   }
// }

// .bl_footerInfo {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   width: 100%;
//   color: $cWhite;
//   font-family: "Roboto", sans-serif;

//   &_link {
//     display: flex;
//     column-gap: 23px;
//     font-size: rem(14);

//     @include mq("sp") {
//       font-size: rem(12);
//     }
//   }

//   &_copyright {
//     font-size: 8px;
//   }
// }

// .bl_globalNavi {
//   position: fixed;
//   bottom: 0;
//   left: 0;
//   width: 100%;
//   // height: 100%;
//   background-color: #f5f6fa;
//   z-index: -1;
//   min-height: 100vh;
//   transform: translateY(120%); /* 初期状態では画面外 */
//   transition: transform 0.5s ease; /* アニメーション効果 */

//   &.active {
//     transform: translateY(0); /* 画面内にスライド */
//   }

//   &_shape1 {
//     position: absolute;
//     top: -70px;
//     left: 25%;
//   }

//   &_shape2 {
//     position: absolute;
//     top: -20px;
//     right: 12%;
//   }

//   & .bl_globalNavi_wave1 {
//     display: none;
//     min-width: 2000px;
//     position: absolute;
//     top: -325px;
//     z-index: -1;
//     transform: scale(0.8) rotate(3deg) translate(0px, 0px);
//   }

//   & .bl_globalNavi_wave2 {
//     display: none;
//     min-width: 2000px;
//     position: absolute;
//     top: -325px;
//     z-index: -1;
//     transform: scale(1) rotate(3deg) translate(0px, 0px);
//   }

//   &_bc {
//     background-color: $cCeruleanBlue;
//     width: 100%;
//     height: 70%;
//     position: absolute;
//     z-index: -1;
//     bottom: 0;
//   }

//   &_inner {
//     max-width: 986px;
//     padding: 18% 68px;
//     margin: 0 auto;
//     box-sizing: content-box;

//     @include mq() {
//       padding-top: 30%;
//     }
//   }

//   &_link {
//     display: flex;
//     justify-content: space-between;
//     align-items: flex-end;

//     @include mq() {
//       flex-direction: column;
//       align-items: center;
//     }

//     & ul {
//       font-size: rem(37);
//       font-weight: 700;
//       line-height: 1.5;
//       letter-spacing: 1.5px;
//       display: flex;
//       flex-direction: column;
//       row-gap: 15px;

//       @include mq() {
//         row-gap: 13px;
//         margin-bottom: 33px;
//         font-size: rem(34);
//       }

//       & li a {
//         color: $cWhite;
//       }
//     }
//   }
// }

// .bl_globalNavi_wave1.active,
// .bl_globalNavi_wave2.active {
//   display: block;
// }

// // fv bubble
// // .bl_bubble {
// //   width: 150px; /* 泡の大きさを設定 */
// //   height: 150px; /* 泡の大きさを設定 */
// //   border-radius: 50%;
// //   overflow: hidden;
// //   position: relative; /* 必要に応じて調整 */
// //   top: 50vh; /* 画面中央に配置する例 */
// //   left: 50vw; /* 画面中央に配置する例 */
// //   background-color: $cWhite;
// //   animation: float 6s ease-in-out infinite;
// //   animation: float 6s ease-in-out infinite, shadowFloat 6s ease-in-out infinite;
// //   /* 薄い白の枠を追加 */
// //   box-shadow: 0 0 8px 4px rgba(255, 255, 255, 0.5);
// // }

// // .bl_bubble img {
// //   width: 100%;
// //   height: auto;
// //   display: block;
// // }

// // @keyframes float {
// //   0%, 100% {
// //     transform: translate(0, 0) rotate(0deg);
// //   }
// //   25% {
// //     transform: translate(-10px, -20px) rotate(-10deg);
// //   }
// //   50% {
// //     transform: translate(10px, -30px) rotate(10deg);
// //   }
// //   75% {
// //     transform: translate(-10px, -20px) rotate(-5deg);
// //   }
// // }

// // @keyframes shadowFloat {
// //   0%, 100% {
// //     box-shadow: 0 0 8px 4px rgba(255, 255, 255, 0.5);
// //   }
// //   25% {
// //     box-shadow: 0 0 12px 6px rgba(255, 255, 255, 0.5);
// //   }
// //   50% {
// //     box-shadow: 0 0 8px 4px rgba(255, 255, 255, 0.5);
// //   }
// //   75% {
// //     box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5);
// //   }
// // }

// // js使う前
// .bl_bubble {
//   width: 500px;
//   height: 500px;
//   border-radius: 50%;
//   overflow: hidden;
//   position: absolute;
//   top: 20vh;
//   left: 50vw;
//   animation: float 6s ease-in-out infinite, breathe 3s ease-in-out infinite;
//   // box-shadow: 0 0 8px 4px rgba(255, 255, 255, 0.5);
//   background-color: rgba(255, 255, 255, 0.5);

//   @include mq() {
//     width: 330px;
//     height: 338px;
//     top: 10vh;
//     left: 28%;
//   }

//   @include mq("sp") {
//     left: 19%;
//   }

//   @include mq("adj") {
//     left: 9%;
//   }
// }

// .bl_bubble_img {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   overflow: hidden;
//   border-radius: 50%;
// }

// .bl_bubble img {
//   position: relative;
//   width: 100%;
//   height: auto;
//   display: block;
//   z-index: 2;
// }

// .bl_bubble::before {
//   content: "";
//   position: absolute;
//   top: 5px;
//   left: 5px;
//   right: 5px;
//   bottom: 5px;
//   border-radius: 50%;
//   box-shadow: 0 0 8px 2px rgba(255, 255, 255, 0.5);
//   animation: innerFloat 6s ease-in-out infinite;
//   z-index: 3;
// }

// .bl_bubble::after {
//   content: "";
//   position: absolute;
//   top: 10px; /* 内側の泡との距離を調整 */
//   left: 10px;
//   right: 10px;
//   bottom: 10px;
//   border-radius: 50%;
//   background-color: rgba(255, 255, 255, 0.5); /* 内側の泡と外側の泡の間の色 */
//   animation: innerFloat 6s ease-in-out infinite; /* 必要に応じて同じか異なるアニメーションを適用 */
// }

// .bl_bubble_inner {
//   position: absolute;
//   top: 5px;
//   left: 5px;
//   right: 5px;
//   bottom: 5px;
//   border-radius: 50%;
//   background-color: rgba(255, 255, 255, 0.5); /* 中間層の色 */
//   z-index: 1;
//   animation: breatheInner 3s ease-in-out infinite;
// }

// // @keyframes float {
// //   0%, 100% {
// //     transform: translate(0, 0) rotate(0deg);
// //   }
// //   25% {
// //     transform: translate(-10px, -20px) rotate(-10deg);
// //   }
// //   50% {
// //     transform: translate(10px, -30px) rotate(10deg);
// //   }
// //   75% {
// //     transform: translate(-10px, -20px) rotate(-5deg);
// //   }
// // }

// // @keyframes innerFloat {
// //   0%, 100% {
// //     transform: translate(0, 0) rotate(0deg);
// //   }
// //   25% {
// //     transform: translate(5px, 10px) rotate(5deg);
// //   }
// //   50% {
// //     transform: translate(-5px, 15px) rotate(-5deg);
// //   }
// //   75% {
// //     transform: translate(5px, 10px) rotate(3deg);
// //   }
// // }

// // @keyframes breathe {
// //   0%, 100% {
// //     transform: scale(1);
// //   }
// //   50% {
// //     transform: scale(1.05);
// //   }
// // }

// // @keyframes breatheInner {
// //   0%, 100% {
// //     transform: scale(1);
// //   }
// //   50% {
// //     transform: scale(0.95);
// //   }
// // }
// //

// .bl_fvShape {
//   position: absolute;
//   top: 0;
//   left: 0;

//   &_1 {
//     top: 10%;
//     left: -15px;
//   }

//   &_2 {
//     top: -60px;
//     left: 30%;
//   }

//   &_3 {
//     top: 20%;
//     left: 50%;
//   }

//   &_4 {
//     top: -15px;
//     left: 85%;
//   }

//   &_5 {
//     top: 60%;
//     left: initial;
//     right: -20px;
//   }

//   &_6 {
//     top: 60%;
//     left: 2%;
//   }

//   &_7 {
//     top: 20%;
//     left: 1%;
//   }

//   &_8 {
//     top: -119px;
//     left: 23%;
//   }

//   &_9 {
//     top: 20%;
//     left: 39%;
//   }

//   &_10 {
//     top: -25px;
//     left: 60%;
//   }

//   &_11 {
//     top: 18%;
//     right: 2%;
//     left: initial;
//   }

//   &_12 {
//     top: 38%;
//     right: 3%;
//     left: initial;
//   }

//   &_13 {
//     top: 54%;
//     left: 45%;
//   }

//   &_14 {
//     top: 30%;
//     left: -190px;
//   }

//   &_15 {
//     top: 4%;
//     left: 15%;
//   }

//   &_16 {
//     top: -15px;
//     left: 55%;
//   }

//   &_17 {
//     top: 20%;
//     left: 40%;
//   }

//   &_18 {
//     top: 20%;
//     right: 2%;
//     left: initial;
//   }

//   &_19 {
//     top: 40%;
//     right: -1%;
//     left: initial;
//   }
// }

// .bl_fvHeader {
//   background-color: #f5f6fa;
// }

// .bl_fvTxtArea {
//   position: relative;
//   z-index: 2;
//   font-weight: 700;
//   top: 50%;
//   left: 10%;
//   transform: translateY(-80%);

//   @include mq {
//     top: 70%;
//     left: 34%;
//   }

//   @include mq("sp") {
//     left: 27%;
//   }

//   @include mq("adj") {
//     left: 18%;
//   }

//   &_3 {
//     top: 33%;
//     transform: translateY(0);

//     @include mq {
//       top: 60%;

//     }
//   }

//   &_tagline {
//     font-size: rem(34);
//     height: 2.5;
//     letter-spacing: 2.3;

//     @include mq() {
//       font-size: rem(22);
//     }

//     &_small {
//       font-size: 30px;
//     }
//   }

//   &_message {
//     font-size: rem(48);
//     line-height: 1.73;
//     letter-spacing: 2.3;

//     & strong {
//       color: $cSteelBlue;
//     }

//     @include mq() {
//       font-size: rem(31);
//     }
//   }
// }
