@use "../helpers/function" as *;
@use "../helpers/helpers" as *;
@use "../helpers/mixin" as *;
@use "../helpers/variables" as *;

body {
  font-size: rem(16);
  font-family: 'Inter', "Yu Gothic", "YuGothic", "Hiragino Kaku Gothic Pro", "Meiryo", sans-serif;
  color: $cGray;
  position: relative;
  overflow-x: hidden;
}


.container {
  position: relative;
  overflow-x: hidden;
  width: 100vw;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: $cGray;
  transition: opacity 0.35s linear;

  &:hover {
    opacity: 0.6;
  }
}
