@use "../helpers/function" as *;
@use "../helpers/mixin" as *;
@use "../helpers/variables" as *;

@keyframes fluidanimationS {
  0%,
  100% {
    border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
  }
  14% {
    border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
  }
}

@keyframes fluidanimationM {
  0%, 100% {
    border-radius: 68% 32% 48% 52%/60% 43% 57% 40%;
  }
  7% {
    border-radius: 30% 70% 60% 40%/42% 75% 25% 58%;
  }
  14% {
    border-radius: 20% 80% 58% 42%/30% 68% 32% 70%;
  }
  21% {
    border-radius: 35% 65% 55% 45%/65% 55% 45% 35%;
  }
  28% {
    border-radius: 75% 25% 25% 75%/40% 84% 16% 60%;
  }
  35% {
    border-radius: 50% 50% 33% 67%/75% 45% 55% 25%;
  }
  42% {
    border-radius: 65% 35% 70% 30%/80% 20% 80% 20%;
  }
  49% {
    border-radius: 45% 55% 30% 70%/55% 65% 35% 45%;
  }
  56% {
    border-radius: 33% 67% 77% 23%/70% 50% 50% 30%;
  }
  63% {
    border-radius: 57% 43% 73% 27%/66% 44% 56% 34%;
  }
  70% {
    border-radius: 40% 60% 30% 70%/56% 76% 24% 44%;
  }
  77% {
    border-radius: 30% 70% 70% 30%/42% 58% 42% 58%;
  }
  84% {
    border-radius: 50% 50% 50% 50%/35% 65% 35% 65%;
  }
  91% {
    border-radius: 60% 40% 40% 60%/50% 30% 70% 50%;
  }
}

@keyframes fluidanimationM2 {
  0%, 100% {
    border-radius: 55% 45% 60% 40%/45% 55% 45% 55%;
  }
  10% {
    border-radius: 45% 55% 30% 70%/55% 65% 35% 45%;
  }
  20% {
    border-radius: 60% 40% 40% 60%/40% 30% 70% 60%;
  }
  30% {
    border-radius: 35% 65% 65% 35%/75% 25% 75% 25%;
  }
  40% {
    border-radius: 50% 50% 50% 50%/30% 70% 30% 70%;
  }
  50% {
    border-radius: 40% 60% 60% 40%/70% 40% 60% 40%;
  }
  60% {
    border-radius: 70% 30% 30% 70%/60% 50% 50% 40%;
  }
  70% {
    border-radius: 30% 70% 70% 30%/40% 60% 40% 60%;
  }
  80% {
    border-radius: 65% 35% 35% 65%/55% 45% 55% 45%;
  }
  90% {
    border-radius: 55% 45% 45% 55%/65% 35% 65% 35%;
  }
}


@keyframes fluidanimationL {
  0%, 100% {
    border-radius: 60% 40% 50% 50%/50% 50% 50% 50%;
  }
  10% {
    border-radius: 58% 42% 75% 25%/55% 45% 55% 45%;
  }
  20% {
    border-radius: 50% 50% 58% 42%/40% 60% 40% 60%;
  }
  30% {
    border-radius: 42% 58% 60% 40%/45% 55% 45% 55%;
  }
  40% {
    border-radius: 75% 25% 67% 33%/55% 65% 35% 45%;
  }
  50% {
    border-radius: 30% 70% 70% 30%/60% 40% 60% 40%;
  }
  60% {
    border-radius: 25% 75% 75% 25%/65% 35% 65% 35%;
  }
  70% {
    border-radius: 70% 30% 30% 70%/40% 60% 40% 60%;
  }
  80% {
    border-radius: 67% 33% 58% 42%/45% 75% 25% 55%;
  }
  90% {
    border-radius: 50% 50% 50% 50%/50% 30% 70% 50%;
  }
}



@keyframes fvFluidanimation {
  0%,
  100% {
    border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
  }
  7% {
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
  }
  14% {
    border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
  }
  21% {
    border-radius: 47% 53% 46% 54% / 52% 58% 42% 48%;
  }
  28% {
    border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
  }
  35% {
    border-radius: 57% 43% 47% 53% / 55% 65% 35% 45%;
  }
  42% {
    border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
  }
  49% {
    border-radius: 61% 39% 61% 39% / 67% 44% 56% 33%;
  }
  56% {
    border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
  }
  63% {
    border-radius: 55% 45% 55% 45% / 60% 54% 46% 40%;
  }
  70% {
    border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
  }
  77% {
    border-radius: 48% 52% 58% 42% / 53% 59% 41% 47%;
  }
  84% {
    border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
  }
  91% {
    border-radius: 54% 46% 52% 48% / 55% 63% 37% 45%;
  }
}

// ボーダーアニメーション
// @keyframes borderAnimation {
//   0%{
//       border-width: 1px;
//   }
//   50% {
//       border-width: 50px;
//   }

//   70% {
//       border-width: 7px;
//   }

//   100%  {
//       border-width: 4px;
//   }
// }

// フェードアウト
.fade_out {
  animation: fadeOut 1s ease-out forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

// video modal
.bl_videoBlock_link {
  transition: all 0.3s ease;

  &:hover {
    scale: 1.01;
  }
}

.bl_videoModal {
  display: none;
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  // max-width: 891px;
  // max-height: 470px;
  width: 100%;
  height: 100%;
  overflow: auto;

  background-color: rgba(0, 0, 0, 0.2); /* 黒の背景色を少し透明に */

  &_content {
    position: absolute;
    box-sizing: content-box;
    top: 50%;
    left: 48%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    margin: 0 15px;
    padding: 3vw 2vw;
    border: 1px solid #888;
    // width: 891px;
    // height: 470px;
    aspect-ratio: 16 / 9;
    width: 85%;
    max-width: 1105px;
    height: auto;
    max-height: 80vh;
    background-color: $cCeruleanBlue;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
    // overflow: auto;
    box-sizing: border-box;

    @include mq() {
      width: 100%;
      padding-top: 21px;
    }
  }

  &_video {
    display: block;
    width: 100%;
    height: 100%;
    max-height: 70vh;
    // iPhone safariの枠線を消す
    filter: drop-shadow(0px 0px rgba(0, 0, 0, 0));
    // PCのChromeの枠線を消す
    outline: none;
    border: none;
  }

  &_closeBtn {
    width: 90px;
    height: 90px;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    background-color: $cSteelBlue;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;

    @include mq() {
      width: 60px;
      height: 60px;
      right: 50px;
    }

    &:focus,
    &:hover {
      background-color: $cWhite;
      border: 1px solid $cSteelBlue;

      .bl_videoModal_closeLine > span,
      .bl_videoModal_closeLine > span::before {
        background-color: $cSteelBlue; // spanの背景色を変更
      }
    }
  }

  &_closeLine {
    display: inline-block;
    vertical-align: middle;
    color: $cWhite;
    line-height: 1;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-sizing: content-box;

    & > span {
      width: 40%;
      height: 0.3em;
      background: currentColor;
      border-radius: 0.1em;
      position: relative;
      transform: rotate(45deg);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }

    & > span::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: inherit;
      border-radius: inherit;
      transform: rotate(90deg);
    }
  }
}

.bl_videoModal {
  opacity: 0;
  transition: opacity 0.5s ease;

  &.is_show {
    display: block;
    opacity: 1;
  }
}

// .bl_videoModal_container {
//   overflow: hidden; /* コンテナ外のコンテンツを非表示にする */
//   width: calc(100% + 10px); /* 必要に応じてコンテナの幅を調整 */
//   height: 100%; /* コンテナの高さを設定 */
//   position: relative; /* コンテナの位置を調整 */
// }

// .bl_videoModal_video {
//   position: absolute; /* ビデオの位置を絶対位置に設定 */
//   right: -2px; /* 白い線を隠すためにビデオをずらす */
//   width: calc(100% + 10px); /* ビデオの幅を調整 */
//   height: 100%; /* ビデオの高さを設定 */
// }

.js_bodyNoScroll {
  overflow: hidden;
  height: 100%;
}

/*fv　アニメーション
---------------------------------------------*/
/* スライドの設定 */
.slideshow {
  position: relative;
}

.slides {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;

  @include mq() {
    min-height: 800px;
  }
}

/* jsが使えないもの用。いらない？ */
.no-js .slides {
  height: auto;
}

/* 各リストの設定 */
.slides > li {
  width: 100%;
  height: 100%;
  position: absolute;
  visibility: hidden;
  perspective: 1600px;
}

/* no-jsはフォールバック用 */
.no-js .slides > li {
  position: relative;
  visibility: visible;
}

/* ナビはいらないか？携帯では必要？ */
.slideshow > nav {
  text-align: center;
  margin-top: 20px;
}

.slideshow > nav span {
  display: inline-block;
  width: 60px;
  height: 25px;
  border-top: 10px solid #fff;
  border-bottom: 10px solid #fff;
  background-color: #ddd;
  cursor: pointer;
  margin: 0 3px;
  transition: background-color 0.2s;
}

.slideshow > nav span:hover {
  background-color: #333;
}

.slideshow > nav span.current {
  background-color: #aaa;
}

/* 不透明度の遷移が必要なので、透明度を0にしておく */
.description {
  width: 50%;
  position: relative;
  z-index: 1000;
  opacity: 0;
}

.no-js .description {
  opacity: 1;
}

/* スライドショースタイル
 */
.tiltview {
  transform-style: preserve-3d;
}

/* Show/Hide */
.slides > li.current,
.slides > li.show {
  visibility: visible;
}

/* descriptionのフェードインアウト */
.description {
  transition: opacity 0.8s;
}

.current .description,
.show .description {
  opacity: 1;
}

.hide .description {
  opacity: 0;
}

/***********************/
/* Slide right */
/***********************/
.hide[data-effect-out="slideRightOut"] .tiltview .bl_bubble {
  animation: slideRightOut 1.5s both;
}

@keyframes slideRightOut {
  25% {
    animation-timing-function: cubic-bezier(1, 0, 0, 1);
    transform: translateX(-30px);
  }
  100% {
    transform: translate(3000px, -1000px);
  }
}

.show[data-effect-in="slideRightIn"] .tiltview .bl_bubble {
  animation: slideRightIn 0.8s 0.5s both;
}

@keyframes slideRightIn {
  0% {
    animation-timing-function: cubic-bezier(1, 0, 0, 1);
    transform: translate(-5000px, 2500px);
  }
  75% {
    transform: translateX(30px);
  }
  100% {
    transform: translateX(0);
  }
}

/* Fallback for no 3D Transforms and no preserve-3d */
.no-csstransformspreserve3d .show .tiltview .bl_bubble,
.no-csstransformspreserve3d .hide .tiltview .bl_bubble,
.no-csstransforms3d .show .tiltview .bl_bubble,
.no-csstransforms3d .hide .tiltview .bl_bubble {
  animation: none !important;
}

.no-csstransforms3d .tiltview.col {
  top: -50%;
}

.no-csstransforms3d .tiltview.row {
  top: 20px;
}
