@use "../helpers/function" as *;
@use "../helpers/helpers" as *;
@use "../helpers/mixin" as *;
@use "../helpers/variables" as *;

// トップページのヘッダー
.ly_header {
  position: relative;
  height: 100vh;

  &_video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;

    & video {
      width: 100%;
      height: 100vh;
      object-fit: cover;
    }
  }

  &_scrollDrag {
    position: absolute;
    bottom: 19%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
  }

  &_appLink {
    position: fixed;
    right: 3.5%;
    bottom: 15%;
    z-index: 600;

    @include mq() {
      right: initial;
      left: 15px;
      bottom: 4%;
    }
  }

  & .ly_header_wave {
    position: absolute;
    bottom: -5px;
    left: 0;

    &_fv {
      @include mq() {
        bottom: -74px;
      }
    }
  }

  &_fv {
    height: initial;
  }

  &_documents {
    height: 160px;
  }
}

