@use "../helpers/function" as *;
@use "../helpers/helpers" as *;
@use "../helpers/mixin" as *;
@use "../helpers/variables" as *;

.ly_fv {
  height: 100vh;
  position: relative;
  background-color: #f5f6fa;

  &_scrollDrag {
    position: absolute;
    left: 50%;
    top: 75%;
    transform: translateX(-50%);
    z-index: 2;

    @media screen and (max-width: 1024px) and (min-height: 800px) {
      top: 80%;
    }
  }

  &_wave {
    position: absolute;
    bottom: -5px;
    z-index: 1;
  
      @include mq() {
        height: 130px;
      }
  }

  &_skipIcon {
    position: absolute;
    bottom: 30px;
    right: 45px;
    z-index: 10;
    pointer-events: auto;

    @include mq ("sp") {
      right: 20px;
    }

    & a {
      color: $cWhite;
    }
  }
}

.ly_fvWrapper {
  overflow: hidden;
}
