@charset "UTF-8";
/** 
* base
* ========================== */
/***
    The new CSS reset - version 1.11.2 (last updated 15.11.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
    - The "html" element is excluded, otherwise a bug in Chrome breaks the CSS hyphens property (https://github.com/elad2412/the-new-css-reset/issues/36)
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Fix mobile Safari increase font-size on landscape mode */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
      text-size-adjust: none;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu,
summary {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
       appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
  all: revert;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* reset default text opacity of input placeholder */
::-webkit-input-placeholder {
  color: unset;
}
::-moz-placeholder {
  color: unset;
}
:-ms-input-placeholder {
  color: unset;
}
::-ms-input-placeholder {
  color: unset;
}
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable=true]) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove details summary webkit styles */
::-webkit-details-marker {
  display: none;
}

@-webkit-keyframes fluidanimation {
  0%, 100% {
    border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
  }
  14% {
    border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
  }
}

@keyframes fluidanimation {
  0%, 100% {
    border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
  }
  14% {
    border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
  }
}
.bl_videoBlock_link {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.bl_videoBlock_link:hover {
  scale: 1.01;
}

.bl_videoModal {
  display: none;
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.2); /* 黒の背景色を少し透明に */
}
.bl_videoModal_content {
  position: absolute;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  top: 50%;
  left: 48%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fefefe;
  margin: 0 15px;
  padding: 3vw 2vw;
  border: 1px solid #888;
  aspect-ratio: 16/9;
  width: 85%;
  max-width: 1105px;
  height: auto;
  max-height: 80vh;
  background-color: #7BADEF;
  border-radius: 20px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
          animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media screen and (max-width: 768px) {
  .bl_videoModal_content {
    width: 100%;
    padding-top: 21px;
  }
}
.bl_videoModal_video {
  width: 100%;
  height: 100%;
  max-height: 70vh;
}
.bl_videoModal_closeBtn {
  width: 90px;
  height: 90px;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  background-color: #3F679B;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media screen and (max-width: 768px) {
  .bl_videoModal_closeBtn {
    width: 60px;
    height: 60px;
    right: 50px;
  }
}
.bl_videoModal_closeBtn:focus, .bl_videoModal_closeBtn:hover {
  background-color: #ffffff;
  border: 1px solid #3F679B;
}
.bl_videoModal_closeBtn:focus .bl_videoModal_closeLine > span,
.bl_videoModal_closeBtn:focus .bl_videoModal_closeLine > span::before, .bl_videoModal_closeBtn:hover .bl_videoModal_closeLine > span,
.bl_videoModal_closeBtn:hover .bl_videoModal_closeLine > span::before {
  background-color: #3F679B;
}
.bl_videoModal_closeLine {
  display: inline-block;
  vertical-align: middle;
  color: #ffffff;
  line-height: 1;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}
.bl_videoModal_closeLine > span {
  width: 40%;
  height: 0.3em;
  background: currentColor;
  border-radius: 0.1em;
  position: relative;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.bl_videoModal_closeLine > span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.bl_videoModal {
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
.bl_videoModal.is_show {
  display: block;
  opacity: 1;
}

.js_bodyNoScroll {
  overflow: hidden;
  height: 100%;
}

.hp_pl5 {
  padding-left: 5%;
}

.hp_bcLB {
  background-color: #D2E6FF;
}

.hp_bcSB {
  background-color: #9EDCFE;
}

.hp_bcIW {
  background-color: #FDFDFE;
}

.hp_OP50 {
  opacity: 0.5;
}

.hp_bcPY {
  background-color: #FAF7D5;
}

.hp_bcSTB {
  background-color: #3F679B;
}

.hp_bcCream {
  background-color: #FBF7C7;
}

.hp_cWhite {
  color: #ffffff !important;
}

.hp_bcCB {
  background-color: #7BADEF;
}

.hp_characterGray {
  color: #505050 !important;
}

@media screen and (max-width: 768px) {
  .hp_pc {
    display: none !important;
  }
}

.hp_sp {
  display: none;
}
@media screen and (max-width: 768px) {
  .hp_sp {
    display: block;
  }
}

.hp_fsz textpath {
  font-size: 16px;
}

.bl_globalNavi {
  display: none;
}

body {
  font-size: 1rem;
  font-family: "Inter", "Yu Gothic", "YuGothic", "Hiragino Kaku Gothic Pro", "Meiryo", sans-serif;
  color: #505050;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #505050;
  -webkit-transition: opacity 0.35s linear;
  transition: opacity 0.35s linear;
}
a:hover {
  opacity: 0.6;
}

/** 
* helpers
* ========================== */
/** 
* Layout
* ========================== */
.ly_header {
  position: relative;
  height: 100vh;
}
.ly_header_video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
}
.ly_header_video video {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}
.ly_header_scrollDrag {
  position: absolute;
  bottom: 19%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2;
}
.ly_header_appLink {
  position: fixed;
  right: 3.5%;
  bottom: 15%;
  z-index: 20;
}
@media screen and (max-width: 768px) {
  .ly_header_appLink {
    right: initial;
    left: 15px;
    bottom: 4%;
  }
}
.ly_header .ly_header_wave {
  position: absolute;
  bottom: -5px;
  left: 0;
}
@media screen and (max-width: 768px) {
  .ly_header .ly_header_wave_fv {
    bottom: -74px;
  }
}

/** 
* module
* ========================== */
.bl_concept {
  background-color: #7BADEF;
  position: relative;
}
.bl_concept_ttl {
  margin-bottom: 29px;
}
@media screen and (max-width: 768px) {
  .bl_concept_ttl {
    margin-bottom: initial;
  }
}

.bl_sideBySide_wrapper {
  padding-left: 13%;
}
@media screen and (max-width: 768px) {
  .bl_sideBySide_wrapper {
    padding: 0 5%;
    max-width: 444px;
    margin: 0 auto;
  }
}

.bl_concept_wave2 {
  margin-top: -23%;
}

.bl_sideBySide {
  position: relative;
  margin-bottom: 70px;
}
@media screen and (max-width: 768px) {
  .bl_sideBySide {
    margin-bottom: 420px;
  }
}
.bl_sideBySide_ttl {
  position: relative;
  z-index: 5;
}
@media screen and (max-width: 768px) {
  .bl_sideBySide_ttl {
    margin-bottom: 11px;
  }
}
@media screen and (max-width: 768px) {
  .bl_sideBySide_ttl_sp_2 {
    margin-top: -40px;
    margin-left: 83px;
  }
}
@media screen and (max-width: 768px) {
  .bl_sideBySide_txtBox {
    font-size: 14px;
  }
}
.bl_sideBySide_txt {
  font-family: "Yu Gothic", "YuGothic", "Hiragino Kaku Gothic Pro", "Meiryo", sans-serif;
  font-weight: 700;
  line-height: 1.88;
  color: #ffffff;
}
.bl_sideBySide_bottomTxt {
  margin-top: 32px;
}
.bl_sideBySide_imgBox {
  position: absolute;
  z-index: 3;
  top: 60px;
  right: 0;
  width: clamp(23.438rem, -8.501rem + 66.54vw, 44.938rem);
}
@media screen and (max-width: 768px) {
  .bl_sideBySide_imgBox {
    top: 385px;
    width: 460px;
    right: 0;
  }
}
@media screen and (max-width: 470px) {
  .bl_sideBySide_imgBox {
    top: 410px;
    margin-right: -50px;
  }
}
.bl_sideBySide_imgBox img {
  height: auto;
}

.bl_app {
  background-color: #FAF7D5;
  margin-top: -100px;
}
.bl_app_wrapper {
  max-width: 1138px;
  padding: 0 15px;
  margin: -70px auto 0;
}
@media screen and (max-width: 768px) {
  .bl_app_wrapper {
    margin-top: 0;
    width: 100%;
  }
}
.bl_app_ttl {
  position: relative;
  z-index: 3;
}

.bl_app2_wrapper {
  max-width: 1112px;
  padding: 0 15px;
  margin: -150px auto;
}

.bl_app_ttl_sp {
  margin-left: -76px;
}
.bl_app_ttl_sp_2 {
  margin-top: -50px;
  margin-right: -48px;
}

.bl_shapeWrapper {
  position: relative;
}
.bl_shapeWrapper_item {
  position: absolute;
  right: 153px;
  bottom: -85px;
}
@media screen and (max-width: 768px) {
  .bl_shapeWrapper_item {
    right: 34px;
    bottom: -145px;
  }
}
.bl_shapeWrapper_item_2 {
  right: -70px;
  bottom: -216px;
  z-index: 2;
}

.bl_featureBlock_ttl {
  position: relative;
  z-index: 5;
  margin-bottom: 75px;
}
.bl_featureBlock_ttl_app1 {
  margin-left: clamp(-11.563rem, -28.739rem + 35.78vw, 0rem);
}
@media screen and (max-width: 768px) {
  .bl_featureBlock_ttl_app1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: clamp(-7.5rem, -14.656rem + 30.53vw, 0rem);
    margin-bottom: 47px;
    margin-left: initial;
  }
}
.bl_featureBlock_ttl_app2 {
  margin-top: -50px;
  margin-left: 170px;
}
@media screen and (max-width: 768px) {
  .bl_featureBlock_ttl_app2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: -70px;
    margin-left: initial;
  }
}
@media screen and (max-width: 768px) and (max-width: 630px) {
  .bl_featureBlock_ttl_app2 {
    margin-top: -111px;
  }
}
@media screen and (max-width: 768px) and (max-width: 470px) {
  .bl_featureBlock_ttl_app2 {
    margin-top: -140px;
  }
}
.bl_featureBlock_ttl_app3 {
  margin-left: clamp(-17rem, -34.826rem + 37.14vw, -5rem);
  margin-top: -50px;
}

.bl_featureBlock {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 5%;
     -moz-column-gap: 5%;
          column-gap: 5%;
}
@media screen and (max-width: 768px) {
  .bl_featureBlock {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: clamp(-6.25rem, -12.214rem + 25.45vw, 0rem);
  }
}
.bl_featureBlock_reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 768px) {
  .bl_featureBlock_reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.bl_featureBlock_num {
  position: absolute;
  bottom: 121px;
  left: 0;
  z-index: 3;
  font-family: "Work Sans", sans-serif;
  font-size: 199px;
  font-weight: 500;
  color: #7BADEF;
}
@media screen and (max-width: 768px) {
  .bl_featureBlock_num {
    font-size: 120px;
    top: 260px;
    left: 6%;
  }
}
@media screen and (max-width: 470px) {
  .bl_featureBlock_num {
    left: 0;
  }
}
.bl_featureBlock_num_2 {
  top: 0;
  color: #9EDCFE;
}
@media screen and (max-width: 768px) {
  .bl_featureBlock_num_2 {
    left: 8%;
  }
}
@media screen and (max-width: 630px) {
  .bl_featureBlock_num_2 {
    left: 5%;
    top: -11%;
  }
}
.bl_featureBlock_num_3 {
  color: #D2E6FF;
  top: 60%;
  left: 45%;
}
@media screen and (max-width: 768px) {
  .bl_featureBlock_num_3 {
    top: -3%;
    bottom: initial;
    left: 80%;
  }
}
.bl_featureBlock_num_4 {
  top: -80px;
  left: 5%;
  color: #D2E6FF;
}
.bl_featureBlock_imgWrapper {
  width: 30%;
  position: relative;
  z-index: 2;
  margin-left: 73px;
}
.bl_featureBlock_imgWrapper img {
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (max-width: 768px) {
  .bl_featureBlock_imgWrapper {
    width: clamp(10.875rem, 5.448rem + 23.16vw, 16.563rem);
    margin-left: initial;
    text-align: center;
  }
}
.bl_featureBlock_imgWrapper_reverse {
  margin-left: initial;
}
.bl_featureBlock_spShape {
  position: absolute;
  top: 80px;
  left: -70px;
  z-index: -1;
}
@media screen and (max-width: 768px) {
  .bl_featureBlock_spShape {
    top: 139px;
    left: -40px;
  }
}
.bl_featureBlock_spShape_2 {
  position: absolute;
  top: initial;
  bottom: 110px;
  left: 121px;
  z-index: -1;
}
@media screen and (max-width: 630px) {
  .bl_featureBlock_spShape_2 {
    bottom: 174px;
    left: 50px;
  }
}
.bl_featureBlock_body {
  width: 65%;
  padding-top: 60px;
}
@media screen and (max-width: 768px) {
  .bl_featureBlock_body {
    width: 100%;
    padding-top: initial;
  }
}
.bl_featureBlock_shape_3 {
  position: absolute;
  top: 10%;
  right: -20%;
  z-index: -2;
}
@media screen and (max-width: 768px) {
  .bl_featureBlock_shape_3 {
    top: 28%;
    right: -40%;
  }
}
.bl_featureBlock_shape_4 {
  position: absolute;
  bottom: 14%;
  left: -24%;
  z-index: -1;
}
@media screen and (max-width: 768px) {
  .bl_featureBlock_shape_4 {
    bottom: 24%;
    left: -43%;
  }
}
.bl_featureBlock_shape_5 {
  position: absolute;
  top: 12%;
  right: -18%;
  z-index: -1;
}
@media screen and (max-width: 768px) {
  .bl_featureBlock_shape_5 {
    top: 28%;
    right: -42%;
  }
}
.bl_featureBlock_txt {
  font-family: "Yu Gothic", "YuGothic", "Hiragino Kaku Gothic Pro", "Meiryo", sans-serif;
  font-weight: 700;
  line-height: 2.2;
  color: #505050;
  margin-left: clamp(1.75rem, -10.134rem + 24.76vw, 9.75rem);
  position: relative;
  z-index: 10;
}
@media screen and (max-width: 768px) {
  .bl_featureBlock_txt {
    margin-left: initial;
    width: 80%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 630px) {
  .bl_featureBlock_txt {
    width: 100%;
  }
}
.bl_featureBlock_txt_reverse {
  margin-left: 70px;
}
@media screen and (max-width: 768px) {
  .bl_featureBlock_txt_reverse {
    margin-left: initial;
    width: 80%;
    margin: -12% auto 0;
  }
}
@media screen and (max-width: 630px) {
  .bl_featureBlock_txt_reverse {
    width: 95%;
  }
}
@media screen and (max-width: 470px) {
  .bl_featureBlock_txt_reverse {
    margin-top: -22%;
  }
}
@media screen and (max-width: 470px) {
  .bl_featureBlock {
    font-size: 0.875rem;
  }
}
@media screen and (max-width: 768px) {
  .bl_featureBlock_4 {
    padding-left: 15px;
  }
}
.bl_featureBlock li {
  text-indent: -1em;
  padding-left: 1em;
  letter-spacing: 0.8px;
}
@media screen and (max-width: 630px) {
  .bl_featureBlock li {
    letter-spacing: 0.2px;
  }
}
.bl_featureBlock_illust {
  position: absolute;
  bottom: 0;
  left: 370px;
  z-index: 3;
}
@media screen and (max-width: 768px) {
  .bl_featureBlock_illust {
    width: 66px;
    top: 353px;
    bottom: initial;
    left: initial;
    right: -3px;
  }
}
.bl_featureBlock_illust img {
  height: auto;
}
.bl_featureBlock_illust_2 {
  bottom: 8%;
  left: -13%;
}
@media screen and (max-width: 768px) {
  .bl_featureBlock_illust_2 {
    bottom: 23%;
    left: -38px;
  }
}
.bl_featureBlock_illust_3 {
  left: -205px;
}
@media screen and (max-width: 768px) {
  .bl_featureBlock_illust_3 {
    right: 15%;
    left: initial;
    width: 38px;
    height: 75px;
  }
}
.bl_featureBlock_illust_4 {
  right: -190px;
  bottom: 50px;
  left: initial;
}
@media screen and (max-width: 768px) {
  .bl_featureBlock_illust_4 {
    right: initial;
    top: -123px;
    left: 12%;
    width: 31px;
    height: 84px;
  }
}

.bl_app {
  position: relative;
  margin-top: -25px;
}
.bl_app .bl_app_wave {
  margin-top: -30px;
}
@media screen and (max-width: 768px) {
  .bl_app .bl_app_wave {
    margin-top: 90px;
  }
}
.bl_app .bl_app_wave2 {
  margin-top: -38%;
}
.bl_app2 {
  position: relative;
}
@media screen and (max-width: 768px) {
  .bl_app2_ttl_1 {
    margin-left: -188px;
  }
}
@media screen and (max-width: 768px) {
  .bl_app2_ttl_2 {
    margin-top: -110px;
    margin-left: 42px;
  }
}
.bl_app2 .bl_app2_wave {
  margin-top: 55px;
}
@media screen and (max-width: 768px) {
  .bl_app2 .bl_app2_wave {
    margin-top: 22%;
  }
}
@media screen and (max-width: 630px) {
  .bl_app2 .bl_app2_wave {
    margin-top: 34%;
  }
}
@media screen and (max-width: 470px) {
  .bl_app2 .bl_app2_wave {
    margin-top: 75%;
  }
}
.bl_app2_shape1 {
  position: absolute;
  bottom: 11%;
  left: -3%;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .bl_app2_shape1 {
    bottom: 4%;
  }
}
@media screen and (max-width: 630px) {
  .bl_app2_shape1 {
    bottom: 1%;
  }
}
.bl_app2_shape2 {
  position: absolute;
  bottom: 23%;
  left: 10%;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .bl_app2_shape2 {
    bottom: 8%;
  }
}
.bl_app2_shape3 {
  position: absolute;
  right: 3%;
  bottom: 33%;
  z-index: 1;
}

.bl_app3 {
  position: relative;
  background-color: #7BADEF;
  margin-top: -50px;
}
.bl_app3_wrapper {
  max-width: 1168px;
  margin: 0 auto;
}
.bl_app3 .bl_app3_wave {
  margin-top: -198px;
}
.bl_app3_shape1 {
  position: relative;
  margin-left: -50px;
}
.bl_app3_shape2 {
  position: absolute;
  right: 240px;
  bottom: 34%;
  z-index: 2;
}
.bl_app3_shape3 {
  position: absolute;
  right: 80px;
  bottom: 33%;
  z-index: 1;
}
.bl_app3_shape4 {
  position: absolute;
  bottom: 43%;
  left: 7%;
  z-index: 1;
}
.bl_app3_shape5 {
  position: absolute;
  right: -70px;
  bottom: 36%;
}

.el_headerLogo {
  position: fixed;
  top: 40px;
  left: 40px;
  z-index: 1000;
}

.el_hamburger {
  width: 48px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
  color: #7BADEF;
  line-height: 1;
  background-color: #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 4px 16px 40px 0px rgba(30, 103, 64, 0.1607843137);
          box-shadow: 4px 16px 40px 0px rgba(30, 103, 64, 0.1607843137);
  cursor: pointer;
  position: fixed;
  top: 40px;
  right: 45px;
  z-index: 1000;
}
.el_hamburger span {
  -webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transition: transform 0.3s ease, opacity 0.3s ease, -webkit-transform 0.3s ease;
}
.el_hamburger > span {
  display: block;
  width: 14px;
  height: 0.1em;
  background: currentColor;
  border-radius: 0.1em;
}
.el_hamburger > span + span {
  margin-top: 6px;
}

.el_scrollDrag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.el_scrollDrag_character {
  color: #3F679B;
  font-size: 0.6875rem;
  font-weight: 700;
  line-height: 3.27;
  letter-spacing: 1px;
}

.el_appLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 41px;
     -moz-column-gap: 41px;
          column-gap: 41px;
}
@media screen and (max-width: 768px) {
  .el_appLink {
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
  }
}
@media screen and (max-width: 630px) {
  .el_appLink {
    -webkit-column-gap: 8px;
       -moz-column-gap: 8px;
            column-gap: 8px;
  }
}
.el_appLink_noActive {
  pointer-events: none;
}
@media screen and (max-width: 768px) {
  .el_appLink_noActive {
    width: 119px;
    height: 38px;
  }
}
@media screen and (max-width: 768px) {
  .el_appLink_GNavi {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.el_appLink_pop {
  position: absolute;
  top: -60px;
  left: -10px;
  width: 183px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}
@media screen and (max-width: 768px) {
  .el_appLink_pop {
    top: -48px;
    left: -14px;
    width: 152px;
  }
}

@media screen and (max-width: 768px) {
  .el_appLink_noActive_GNavi {
    width: 235px;
    height: 76px;
    margin-top: 10px;
  }
  .el_appLink_noActive_GNavi img {
    width: 100%;
    height: auto;
  }
}

.el_appLink_pop_GNavi img {
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 768px) {
  .el_appLink_pop_GNavi {
    width: 280px;
    height: 150px;
    top: -88px;
    left: -18px;
  }
}

.el_appLink_pop.active {
  display: block;
}

.el_appleLink_wrapper {
  position: relative;
  width: 163px; /* ベース画像の幅に合わせる */
  height: 55px; /* ベース画像の高さに合わせる */
  display: inline-block; /* または他のレイアウトに合わせて調整 */
}
@media screen and (max-width: 768px) {
  .el_appleLink_wrapper {
    width: 120px;
    height: 40.5px;
  }
}
@media screen and (max-width: 768px) {
  .el_appleLink_wrapper_GNavi {
    width: 238px;
    height: 80px;
  }
}
.el_appleLink_wrapper a {
  display: block;
  width: 100%;
  height: 100%;
}
.el_appleLink_wrapper img {
  display: block;
  width: 100%;
  height: auto;
}

.el_wave3_WhiteOp50 {
  fill: rgba(255, 255, 255, 0.5);
  stroke: rgba(255, 255, 255, 0.5);
  stroke-miterlimit: 10;
}

.el_waveStatic img {
  width: 100%;
}

.el_lv2Heading {
  font-size: 3.125rem;
  font-weight: 600;
  line-height: 1.75;
  position: relative;
}
@media screen and (max-width: 768px) {
  .el_lv2Heading {
    font-size: 1.75rem;
  }
}
.el_lv2Heading_white {
  color: #ffffff;
  position: relative;
}
.el_lv2Heading_white::before {
  content: url(../img/title_icon_white.svg);
  position: absolute;
  top: -40px;
  left: 0;
  width: 17px;
  height: 22px;
}
@media screen and (max-width: 768px) {
  .el_lv2Heading_white::before {
    content: url(../img/title_icon_white_s.svg);
    top: -22px;
  }
}
.el_lv2Heading_LB {
  color: #D2E6FF;
  position: relative;
}
.el_lv2Heading_LB::before {
  content: url(../img/title_icon_LB.svg);
  position: absolute;
  top: -40px;
  left: 0;
  width: 17px;
  height: 22px;
}
@media screen and (max-width: 768px) {
  .el_lv2Heading_LB::before {
    content: url(../img/title_icon_LB_s.svg);
    top: -22px;
  }
}

.el_fluidShapeMiddle {
  width: 248px;
  height: 246px;
  -webkit-animation: fluidanimation 30s ease 0s infinite;
          animation: fluidanimation 30s ease 0s infinite;
}
@media screen and (max-width: 768px) {
  .el_fluidShapeMiddle {
    width: 161px;
    height: 160px;
  }
}

.el_fluidShapeMiddle2 {
  width: 290px;
  height: 263px;
  -webkit-animation: fluidanimation 30s ease 0s infinite;
          animation: fluidanimation 30s ease 0s infinite;
}
@media screen and (max-width: 768px) {
  .el_fluidShapeMiddle2 {
    width: 145.5px;
    height: 132px;
  }
}

.el_fluidShapeMiddle3 {
  width: 197px;
  height: 167px;
  -webkit-animation: fluidanimation 30s ease 0s infinite;
          animation: fluidanimation 30s ease 0s infinite;
}
@media screen and (max-width: 768px) {
  .el_fluidShapeMiddle3 {
    width: 94px;
    height: 79px;
  }
}

.el_fluidShapeLarge {
  width: 308px;
  height: 306px;
  -webkit-animation: fluidanimation 30s ease 0s infinite;
          animation: fluidanimation 30s ease 0s infinite;
}
@media screen and (max-width: 768px) {
  .el_fluidShapeLarge {
    width: 200px;
    height: 198px;
  }
}

.el_fluidShapeSmall {
  width: 153px;
  height: 152px;
  -webkit-animation: fluidanimation 30s ease 0s infinite;
          animation: fluidanimation 30s ease 0s infinite;
}
@media screen and (max-width: 768px) {
  .el_fluidShapeSmall {
    width: 76px;
    height: 76px;
  }
}

.el_fluidShapeSmall2 {
  width: 39px;
  height: 40px;
  -webkit-animation: fluidanimation 30s ease 0s infinite;
          animation: fluidanimation 30s ease 0s infinite;
}
@media screen and (max-width: 768px) {
  .el_fluidShapeSmall2 {
    top: initial;
    bottom: 147px;
    left: -39%;
    z-index: 1;
  }
}

.el_fluidShapeSmall3 {
  width: 56px;
  height: 58px;
  -webkit-animation: fluidanimation 30s ease 0s infinite;
          animation: fluidanimation 30s ease 0s infinite;
}

.el_fluidShapeSmall4 {
  width: 30px;
  height: 31px;
  -webkit-animation: fluidanimation 30s ease 0s infinite;
          animation: fluidanimation 30s ease 0s infinite;
}

.el_fluidShapeSmall5 {
  width: 109px;
  height: 108px;
  -webkit-animation: fluidanimation 30s ease 0s infinite;
          animation: fluidanimation 30s ease 0s infinite;
}/*# sourceMappingURL=style.css.map */