@charset "UTF-8";
/** 
* base
* ========================== */
/***
    The new CSS reset - version 1.11.2 (last updated 15.11.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
    - The "html" element is excluded, otherwise a bug in Chrome breaks the CSS hyphens property (https://github.com/elad2412/the-new-css-reset/issues/36)
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Fix mobile Safari increase font-size on landscape mode */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
      text-size-adjust: none;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu,
summary {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
       appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
  all: revert;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* reset default text opacity of input placeholder */
::-webkit-input-placeholder {
  color: unset;
}
::-moz-placeholder {
  color: unset;
}
:-ms-input-placeholder {
  color: unset;
}
::-ms-input-placeholder {
  color: unset;
}
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable=true]) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove details summary webkit styles */
::-webkit-details-marker {
  display: none;
}

.hp_pl5 {
  padding-left: 5%;
}

.hp_bcLB {
  background-color: #D2E6FF;
}

.hp_bcSB {
  background-color: #9EDCFE;
}

.hp_bcIW {
  background-color: #FDFDFE;
}

.hp_OP50 {
  opacity: 0.5;
}

.hp_bcPY {
  background-color: #FAF7D5;
}

.hp_bcSTB {
  background-color: #3F679B;
}

.hp_bcCream {
  background-color: #FBF7C7;
}

.hp_cWhite {
  color: #ffffff !important;
}

.hp_bcCB {
  background-color: #7BADEF;
}

.hp_characterGray {
  color: #505050 !important;
}

@media screen and (max-width: 768px) {
  .hp_pc {
    display: none !important;
  }
}

.hp_sp {
  display: none;
}
@media screen and (max-width: 768px) {
  .hp_sp {
    display: block;
  }
}

.hp_fsz textpath {
  font-size: 16px;
}

.bl_globalNavi {
  display: none;
}

body {
  font-size: 1rem;
  font-family: "Inter", "Yu Gothic", "YuGothic", "Hiragino Kaku Gothic Pro", "Meiryo", sans-serif;
  color: #505050;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #505050;
  -webkit-transition: opacity 0.35s linear;
  transition: opacity 0.35s linear;
}
a:hover {
  opacity: 0.6;
}

/** 
* helpers
* ========================== */
/** 
* Layout
* ========================== */
.ly_header {
  position: relative;
  height: 100vh;
}
.ly_header_video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
}
.ly_header_video video {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}
.ly_header_scrollDrag {
  position: absolute;
  bottom: 19%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2;
}
.ly_header_appLink {
  position: fixed;
  right: 3.5%;
  bottom: 15%;
  z-index: 20;
}
@media screen and (max-width: 768px) {
  .ly_header_appLink {
    right: initial;
    left: 15px;
    bottom: 4%;
  }
}
.ly_header .ly_header_wave {
  position: absolute;
  bottom: -5px;
  left: 0;
}
@media screen and (max-width: 768px) {
  .ly_header .ly_header_wave_fv {
    bottom: -74px;
  }
}

/** 
* module
* ========================== */
.bl_concept {
  background-color: #7BADEF;
  position: relative;
}
.bl_concept_ttl {
  margin-bottom: 29px;
}
@media screen and (max-width: 768px) {
  .bl_concept_ttl {
    margin-bottom: initial;
  }
}

.bl_sideBySide_wrapper {
  padding-left: 13%;
}
@media screen and (max-width: 768px) {
  .bl_sideBySide_wrapper {
    padding: 0 5%;
    max-width: 444px;
    margin: 0 auto;
  }
}

.bl_concept_wave2 {
  margin-top: -23%;
}

.bl_sideBySide {
  position: relative;
  margin-bottom: 70px;
}
@media screen and (max-width: 768px) {
  .bl_sideBySide {
    margin-bottom: 420px;
  }
}
.bl_sideBySide_ttl {
  position: relative;
  z-index: 5;
}
@media screen and (max-width: 768px) {
  .bl_sideBySide_ttl {
    margin-bottom: 11px;
  }
}
@media screen and (max-width: 768px) {
  .bl_sideBySide_ttl_sp_2 {
    margin-top: -40px;
    margin-left: 83px;
  }
}
@media screen and (max-width: 768px) {
  .bl_sideBySide_txtBox {
    font-size: 14px;
  }
}
.bl_sideBySide_txt {
  font-family: "Yu Gothic", "YuGothic", "Hiragino Kaku Gothic Pro", "Meiryo", sans-serif;
  font-weight: 700;
  line-height: 1.88;
  color: #ffffff;
}
.bl_sideBySide_bottomTxt {
  margin-top: 32px;
}
.bl_sideBySide_imgBox {
  position: absolute;
  z-index: 3;
  top: 60px;
  right: 0;
  width: clamp(23.438rem, -8.501rem + 66.54vw, 44.938rem);
}
@media screen and (max-width: 768px) {
  .bl_sideBySide_imgBox {
    top: 385px;
    width: 460px;
    right: 0;
  }
}
@media screen and (max-width: 470px) {
  .bl_sideBySide_imgBox {
    top: 410px;
    margin-right: -50px;
  }
}
.bl_sideBySide_imgBox img {
  height: auto;
}

.bl_app {
  background-color: #FAF7D5;
}
.bl_app_wrapper {
  max-width: 1138px;
  padding: 0 15px;
  margin: 0 auto;
}
.bl_app_ttl {
  position: relative;
  z-index: 3;
}

.bl_shapeWrapper {
  position: relative;
}
.bl_shapeWrapper_item {
  position: absolute;
  right: 153px;
  bottom: 85px;
}
.bl_shapeWrapper_item_2 {
  right: -70px;
  bottom: 0;
  z-index: 2;
}

.bl_featureBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 5%;
     -moz-column-gap: 5%;
          column-gap: 5%;
}
.bl_featureBlock_num {
  position: absolute;
  bottom: 121px;
  left: 131px;
  z-index: 3;
  font-family: "Work Sans", sans-serif;
  font-size: 199px;
  font-weight: 500;
  color: #7BADEF;
}
@media screen and (max-width: 768px) {
  .bl_featureBlock_num {
    top: 10%;
    font-size: 120px;
  }
}
.bl_featureBlock_num_2 {
  top: 0;
  color: #9EDCFE;
}
@media screen and (max-width: 768px) {
  .bl_featureBlock_num_2 {
    top: -15%;
    left: 8%;
  }
}
@media screen and (max-width: 630px) {
  .bl_featureBlock_num_2 {
    left: 5%;
    top: -11%;
  }
}
.bl_featureBlock_num_3 {
  left: 40%;
  bottom: clamp(0rem, -9.824rem + 16.9vw, 3.75rem);
  color: #D2E6FF;
}
@media screen and (max-width: 768px) {
  .bl_featureBlock_num_3 {
    top: -3%;
    bottom: initial;
    left: 80%;
  }
}
.bl_featureBlock_num_4 {
  top: -80px;
  left: 5%;
  color: #D2E6FF;
}
.bl_featureBlock_imgWrapper {
  width: 24%;
  position: relative;
  z-index: 2;
}
.bl_featureBlock_imgWrapper img {
  -o-object-fit: contain;
     object-fit: contain;
}
.bl_featureBlock_body {
  width: 69%;
}

.el_headerLogo {
  position: fixed;
  top: 40px;
  left: 40px;
}

.el_hamburger {
  width: 48px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
  color: #7BADEF;
  line-height: 1;
  background-color: #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 4px 16px 40px 0px rgba(30, 103, 64, 0.1607843137);
          box-shadow: 4px 16px 40px 0px rgba(30, 103, 64, 0.1607843137);
  cursor: pointer;
  position: fixed;
  top: 40px;
  right: 45px;
}
.el_hamburger span {
  -webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transition: transform 0.3s ease, opacity 0.3s ease, -webkit-transform 0.3s ease;
}
.el_hamburger > span {
  display: block;
  width: 14px;
  height: 0.1em;
  background: currentColor;
  border-radius: 0.1em;
}
.el_hamburger > span + span {
  margin-top: 6px;
}

.el_scrollDrag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.el_scrollDrag_character {
  color: #3F679B;
  font-size: 0.6875rem;
  font-weight: 700;
  line-height: 3.27;
  letter-spacing: 1px;
}

.el_appLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 41px;
     -moz-column-gap: 41px;
          column-gap: 41px;
}
@media screen and (max-width: 768px) {
  .el_appLink {
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
  }
}
@media screen and (max-width: 630px) {
  .el_appLink {
    -webkit-column-gap: 8px;
       -moz-column-gap: 8px;
            column-gap: 8px;
  }
}
.el_appLink_noActive {
  pointer-events: none;
}
@media screen and (max-width: 768px) {
  .el_appLink_noActive {
    width: 119px;
    height: 38px;
  }
}
@media screen and (max-width: 768px) {
  .el_appLink_GNavi {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.el_appLink_pop {
  position: absolute;
  top: -60px;
  left: -10px;
  width: 183px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}
@media screen and (max-width: 768px) {
  .el_appLink_pop {
    top: -48px;
    left: -14px;
    width: 152px;
  }
}

@media screen and (max-width: 768px) {
  .el_appLink_noActive_GNavi {
    width: 235px;
    height: 76px;
    margin-top: 10px;
  }
  .el_appLink_noActive_GNavi img {
    width: 100%;
    height: auto;
  }
}

.el_appLink_pop_GNavi img {
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 768px) {
  .el_appLink_pop_GNavi {
    width: 280px;
    height: 150px;
    top: -88px;
    left: -18px;
  }
}

.el_appLink_pop.active {
  display: block;
}

.el_appleLink_wrapper {
  position: relative;
  width: 163px; /* ベース画像の幅に合わせる */
  height: 55px; /* ベース画像の高さに合わせる */
  display: inline-block; /* または他のレイアウトに合わせて調整 */
}
@media screen and (max-width: 768px) {
  .el_appleLink_wrapper {
    width: 120px;
    height: 40.5px;
  }
}
@media screen and (max-width: 768px) {
  .el_appleLink_wrapper_GNavi {
    width: 238px;
    height: 80px;
  }
}
.el_appleLink_wrapper a {
  display: block;
  width: 100%;
  height: 100%;
}
.el_appleLink_wrapper img {
  display: block;
  width: 100%;
  height: auto;
}

.el_wave3_WhiteOp50 {
  fill: rgba(255, 255, 255, 0.5);
  stroke: rgba(255, 255, 255, 0.5);
  stroke-miterlimit: 10;
}

.el_waveStatic img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.el_lv2Heading {
  font-size: 3.125rem;
  font-weight: 600;
  line-height: 1.75;
  position: relative;
}
@media screen and (max-width: 768px) {
  .el_lv2Heading {
    font-size: 1.75rem;
  }
}
.el_lv2Heading_white {
  color: #ffffff;
  position: relative;
}
.el_lv2Heading_white::before {
  content: url(../img/title_icon_white.svg);
  position: absolute;
  top: -40px;
  left: 0;
  width: 17px;
  height: 22px;
}
@media screen and (max-width: 768px) {
  .el_lv2Heading_white::before {
    content: url(../img/title_icon_white_s.svg);
    top: -22px;
  }
}
.el_lv2Heading_LB {
  color: #D2E6FF;
  position: relative;
}
.el_lv2Heading_LB::before {
  content: url(../img/title_icon_LB.svg);
  position: absolute;
  top: -40px;
  left: 0;
  width: 17px;
  height: 22px;
}
@media screen and (max-width: 768px) {
  .el_lv2Heading_LB::before {
    content: url(../img/title_icon_LB_s.svg);
    top: -22px;
  }
}/*# sourceMappingURL=style.css.map */